{% assign imageSize = 'm' %}
<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        body {
            margin: 1em;
            padding: 3em;
        }
        
        @media only screen and (max-width: 480px) {
            #templateColumns {
                width: 100% !important;
            }
            .templateColumnContainer {
                display: block !important;
                width: 100% !important;
            }
            .columnImage {
                height: auto !important;
                max-width: 480px !important;
                width: 100% !important;
            }
            .leftColumnContent {
                font-size: 16px !important;
                line-height: 125% !important;
            }
            .rightColumnContent {
                font-size: 16px !important;
                line-height: 125% !important;
            }
        }
        
        a.goToApproveButton {
            background-color: rgb(27, 94, 32);
            color: white;
            padding: 1em;
            border-radius: 3px;
            text-decoration: none;
            font-size: 1.1em;
        }
        
        .biketagIcon {
            text-align: center;
            max-width: 15em;
        }
    </style>
</head>

<body>
    <table border="0" cellpadding="10" cellspacing="0" width="600">
        {% if subdomainIcon %}
        <tr>
            <td align="center" width="50%" valign="top" class="middleColumnContent">
                <img src="https://{{ host }}{{ subdomainIcon }}" class="biketagIcon">
            </td>
        </tr>
        {% endif %}
        <tr>
            <td align="center" width="50%" valign="bottom" class="middleColumnContent">
                <h4>Hello BikeTag Ambassador! A new BikeTag has been queued by <strong>{{ tag.foundPlayer }}</strong> in {{ region }}!</h4>
                <p>You are getting this email because you are listed as an admin on the site (<a href="https://{{ host }}">{{ host }}</a>).</p>
            </td>
        </tr>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
        <tr>
            <td align="center" valign="top" width="50%" class="templateColumnContainer">
                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                        <td valign="top" class="rightColumnContent">
                            <h1>Queued Mystery Tag #{{ tag.tagnumber }}</h1>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom" class="rightColumnContent">
                            <img src="{{ tag.mysteryImageUrl | biketag_image: imageSize }}" width="280" style="max-width:280px;" class="columnImage" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table border="0" cellpadding="10" cellspacing="0" width="600">
        <tr>
            <td align="center" width="50%" valign="top" class="middleColumnContent">
                <p>
                    Is the new tag ready to be posted?
                </p>
                <a class="goToApproveButton" href="{{ ambassadorsUrl }}&expiry={{ expiryHash }}">Go to the queue to approve tag for the new round</a>
            </td>
        </tr>
        <tr>
            <td align="center" width="50%" valign="top" class="middleColumnContent">
                If you are not in the ambassador program or no longer want to receive these emails, reply to this email.
            </td>
        </tr>
    </table>
</body>

</html>